<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer src="/static/js/select-related.js"></script>
</head>
<body>
    <div class="container my-5">
        <h1>Location</h1>
    {% if form_submitted %}
    <table class="table table-hover">
        <tr>
            <th>State</th>
            <th>District</th>
            <th>Village</th>
        </tr>
        <tr>
            <td>{{form.cleaned_data.state}}</td>
            <td>{{form.cleaned_data.district}}</td>
            <td>{{form.cleaned_data.village}}</td>
        </tr>
    </table>
    {% else %}
    <form method="post" class="col-12 col-md-6">
        {% csrf_token %}
        {{form.as_p}}
    <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    {% endif %}
    </div>
</body>
</html>